body {background-color: black;}

header {
    margin: auto;
    margin-bottom: 20px;
    width: 50%;
    text-align: center;
    color: red;
    padding-bottom: 20px;
}

header a {
    color: red;
}

#choice {
    margin: auto;
    text-align: center;
    color: white;
}

#gallery {
    display: table;
    margin: auto;
}
